main {
	width: 100%;
    min-height: 100%;
/*     display: flex; */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.content {
/*   	display: flex; */
/*   	justify-content: space-around; */
  	width: 100%;
/*   	max-width: 700px; */
  	margin-bottom: 3rem;
/*   	background-color: #333; */
/*   	color: white; */
/* 	border: 6px solid #333; */
/* 	border: 4px solid white; */
/* 	min-height: 400px; */
  	
  	padding: 10px;
  	max-width: 1200px;
  	margin: 0 auto;
  	border-radius: 8px;
  	justify-content: center;
}

nav {
	background-color: #333;
  	padding: 10px;
  	width: 100%;
  	max-width: 1200px;
  	margin: 0 auto;
  	border-radius: 8px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
  border-radius: 4px;
}